.gitignore.swp
.classpath
.project
*.swp
.ant-targets-build.xml
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
/bin/
dest-client/
dest-server/
doc/
bin/
*.swo
